/*
*******STYLE******
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

/////////////
LIGHT MODE:
--main-background: hsl(0, 0%, 98%); --secondary-background: #fff; --text-color: hsl(200, 15%, 8%); --searchPH-color: hsla(0, 0%, 52%, 0.444); --text-color-secondary: hsl(0, 0%, 49%);

DARK MODE:
--main-background: hsl(207, 26%, 17%); --secondary-background: hsl(209, 23%, 22%); --text-color: hsl(0, 0%, 100%); --searchPH-color: hsla(0, 0%, 52%, 0.444); --text-color-secondary: hsl(220, 4%, 86%);
### Fonts

- Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
- Weights: 300, 600, 800
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 /10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 40 / 44 / 46 / 52 / 62 / 74 / 86 / 98


## Icons
- [Ionicons](https://ionicons.com)
*/

/**************************/
/*********GENERAL**********/
/**************************/
:root {
	--main-background: hsl(0, 0%, 98%);
	--secondary-background: #fff;
	--text-color: hsl(200, 15%, 8%);
	--searchPH-color: hsla(0, 0%, 52%, 0.444);
	--text-color-secondary: hsl(0, 0%, 49%);
	--error-color: hsl(0, 100%, 26%);
	--box-shadow: 0 0 1rem rgba(120, 120, 120, 0.202);
	--box-shadow-buttons-modal: 0 0 0.5rem rgba(120, 120, 120, 0.202);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Nunito Sans", sans-serif;
	line-height: 1;
	font-weight: 300;
	color: var(--text-color);
}
.main {
	background-color: var(--main-background);
	height: auto;
	padding: 3rem;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}
.round-border {
	border-radius: 6px;
}
.box-shadow {
	box-shadow: var(--box-shadow);
}

.display-none {
	display: none !important;
}
.button {
	font-family: "Nunito Sans", sans-serif;
}
/**************************/
/*********HEADER**********/
/**************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4.4rem 1.8rem;
	background-color: var(--secondary-background);
	box-shadow: 0 0 0.5rem rgba(80, 80, 80, 0.2);
	width: 100%;
	overflow: visible;
	position: relative;
}
.dark-mode-button {
	display: flex;
	background-color: var(--secondary-background);
	gap: 0.8rem;
	font-size: 1.6rem;
	border: none;
	cursor: pointer;
	font-weight: 600;
	color: var(--text-color);
	transition: color 0.2s;
}

/**************************/
/*****SITE NAVIGATION******/
/**************************/

.navigation {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
}

.search-box {
	display: flex;
	position: relative;
	align-items: center;
	gap: 2rem;
	background-color: var(--secondary-background);
	font-size: 2.4rem;
	padding: 1.6rem 3.2rem;
	width: 100%;
}
.search-icon-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.4rem;
	color: var(--searchPH-color);
}
input[type="search"] {
	border: none;
	background-color: var(--secondary-background);
	color: var(--text-color);
	padding-left: 1rem;
	font-size: 2rem;
	line-height: 3.6rem;
	width: 100%;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
input[type="search"]::placeholder {
	color: var(--searchPH-color);
}
.search-error {
	display: none;
	position: absolute;
	top: 7.5rem;
	left: 2rem;
	text-decoration: underline;
	font-size: 1.4rem;
	color: var(--error-color);
}
.cont {
	display: flex;
	gap: 1.2rem;
}
.clear {
	justify-self: center;
	align-self: center;
	font-size: 2.4rem;
}
.select {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.6rem;
	cursor: pointer;
	width: 25rem;
	font-weight: 600;
	position: relative;
}
.select-placeholder {
	background-color: var(--secondary-background);
	display: flex;
	justify-content: space-between;
	padding: 2.4rem;
}
.select-options {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	top: 7rem;
	left: 0;
	width: 100%;
	background-color: var(--secondary-background);
	padding: 2rem 1rem;
	position: absolute;
	transition: all 0.3s ease-out;
}
.select-options li {
	padding-left: 2.4rem;
	transition: color 0.2s;
}
.select-options li:hover {
	color: var(--text-color-secondary);
}
/**************************/
/*********COUNTRIES********/
/**************************/
.countries {
	margin-top: 4.2rem;
	padding: 0.1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.6rem;
}
.countries .country .display-none:first-child {
	margin-top: 0;
}
.country {
	background-color: var(--secondary-background);
	box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
	font-size: 1.8rem;
	width: 30rem;
	border-radius: 0.7rem;
}

.country-img {
	width: 100%;
	height: 18rem;
	object-fit: cover;
	background-color: var(--main-background);
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.country-data {
	padding: 2.5rem 3.75rem 3rem 3.75rem;
}
.country-data p span {
	font-weight: 600;
}
.country-name {
	margin-bottom: 2.5rem;
	font-size: 1.8rem;
}
.country-line {
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
}
.country-line:last-child {
	margin-bottom: 4.2rem;
}
/**************************/
/*******COUNTRY MODAL******/
/**************************/
.modal-wrapper {
	height: 100vh;
	background-color: var(--main-background);
}
.country-modal-container {
	padding: 2.5rem 3.75rem 3rem 3.75rem;
	color: var(--text-color);
	height: 80%;
	display: flex;
	flex-direction: column;
}
.border-text {
	font-weight: 600;
}
.country-img-modal {
	width: 100%;
	height: 20rem;
	object-fit: contain;
	margin-top: 5rem;
	background-color: var(--main-background);
	box-shadow: var(--box-shadow-buttons-modal);
}
.modal-data {
	padding: 4.4rem 0 0 0;
}
.border-countries {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	gap: 1rem;
	padding: 1rem 0.5rem;
}
.button-modal {
	background-color: var(--secondary-background);
	color: var(--text-color);
	border: none;
	padding: 1rem 4rem;
	font-size: 1.6rem;
}
.button-border {
	padding: 0.6rem 2rem;
	box-shadow: var(--box-shadow-buttons-modal);
}
.country-modal-1 .country-line,
.country-modal-2 .country-line {
	font-size: 1.6rem;
}
.border-text {
	font-size: 1.6rem;
}
.country-name-modal {
	font-size: 2.4rem;
}
.border-countries p {
	font-size: 1.2rem;
	transform: translateX(-0.4rem);
}

/**************************/
/*****MEDIA QUERIES********/
/**************************/

@media (min-width: 768px) {
	.search-box {
		width: 70%;
	}
}
@media (min-width: 1024px) {
	.header {
		padding: 4.4rem 3rem;
	}
	.dark-mode-button:hover {
		color: hsl(201, 89%, 18%);
	}
	.dark .dark-mode-button:hover {
		color: hsl(60, 94%, 55%);
	}

	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.search-box {
		width: 40%;
	}
	.cont {
		flex-direction: row-reverse;
	}
	.countries {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		align-items: center;
		gap: 3rem;
	}
}
@media (min-width: 1440px) {
	.header {
		padding: 4.4rem 5rem;
	}
	.main {
		padding: 3rem 5rem;
	}
	.countries {
		grid-template-columns: repeat(4, 1fr);
		gap: 4.66rem;
	}

	.country-modal-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 35.36px 1fr;
		row-gap: 5rem;
		column-gap: 7rem;
		padding: 2.5rem 5rem 3rem 5rem;
		align-items: center;
	}
	.back-cont {
		grid-area: 1;
	}
	.country-img-modal {
		grid-area: 2 / 1;
		height: 80%;
		margin-top: 0;
		align-self: center;
	}
	.modal-data {
		grid-area: 2 / 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.5fr 1.5fr 1fr;
		row-gap: 1rem;
		padding: 0;
		height: 80%;
		align-items: center;
	}
	.country-name-modal {
		margin: 0;
		align-self: end;
	}
	.country-modal-1 {
		grid-area: 2 / 1;
	}
	.country-modal-2 {
		grid-area: 2 / 2;
		padding-top: 1rem;
	}
	.country-modal-1 .country-line,
	.country-modal-2 .country-line {
		margin-bottom: 1.6rem;
	}
	.country-modal-3 {
		grid-area: 3 / 1 / 3 / 3;
		display: flex;
	}
	.modal-line-last {
		margin-bottom: 0 !important;
	}
	.border-text {
		align-self: center;
	}
}
