/*
*******STYLE******
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

### Fonts

- Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
- Weights: 300, 600, 800
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

## Icons
- [Ionicons](https://ionicons.com)
*/

/**************************/
/*********GENERAL**********/
/**************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Nunito Sans", sans-serif;
	line-height: 1;
	font-weight: 300;
}
.hidden {
	display: none;
}

/**************************/
/*********HEADER**********/
/**************************/

.header {
	display: flex;
	justify-content: space-between;
	padding: 4.4rem 2.4rem;
	box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
}
.dark-mode-button {
	display: flex;
	background-color: #fff;
	gap: 0.8rem;
	font-size: 1.6rem;
	border: none;
	cursor: pointer;
}
.dark-mode-button p {
	font-weight: 300;
}
.dark-mode-text {
	font-weight: 300;
}

/**************************/
/*****SITE NAVIGATION******/
/**************************/

.select-placeholder {
	display: flex;
}
